.app_dark_theme {
	--bg-color: #181919;
	--inverted-bg-color: #ededed;
	--primary-color: #afafaf;
	--secondary-color: #3f4d3f;
	--inverted-primary-color: #0f091d;
	--inverted-secondary-color: #21326b;
}
