.app.light {
  --bg-color: #ededed;
  --inverted-bg-color: #181919;

  --primary-color: #0f091d;
  --secondary-color: #21326b;
  --inverted-primary-color: #f1f1f1;
  --inverted-secondary-color: #3f4d3f;
}